body {
  background-color: #061A40 !important;
}

.auth-box {
  display: flex;
  background-color: #F5EEEE;
  border-radius: 50px;
  width: 50vw;
  flex-direction: column;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  @media (max-width: 750px) {
    row-gap: 0.3rem;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  width: 100%;

  @media (max-width: 750px) {
    row-gap: 1rem;    
  }
}

.auth-form-text {
  font-size: 18px;
  color: #061A40;
}

.auth-form-link {
  text-decoration: underline;
}

h2 {
  font-size: 40px;
  color: #FFF;
  margin-bottom: 2rem;

  @media (max-width: 720px) {
    margin-bottom: 1rem;
    font-size: 32px;
  }
}

body {
  font-family: 'Montserrat';
}